@font-face {
    font-family: retro-game;
    src: url(./fonts/zrnic\ rg.ttf);
}

* {
    padding: 0%;
    margin: 0;
}

body {
    background-color: rgb(76, 73, 73);
    color: aliceblue;
    font-family: retro-game;
}
h1 {
    display: flex;
    margin-top: 6vh;
    font-size: 8vh;
    justify-content: center;
}
form {
    display: flex;
    justify-content: center;
    margin-top: 12vh;
}
input, button {
    margin-left: 1vh;
    height: 4vh;
    border-radius: 10%;
}
input {
    width: 20vh;
    text-align: center;
}
button {
    height: 4.5vh;
    width: 6%;
}

#container {
    border-width: 1px;
    border-color: pink;
    border-style: solid;
    padding: 5px;
    margin: 5% 25% 0 25%;
   }
.guesses {
    padding: 10px;
    display: flex;
    justify-content: center; 
   
}
@media (max-width: 480px) {
    form {
      flex-direction: column;
      align-items: center;
    }
    input, button {
      margin: 1vh 0;
    }
    button {
      width: 40%;
    } 
    h1 {
        text-align: center;
    }
  }
  

